html {
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

#maindiv {
  height: 30vh;
  width: 100vw;
  align-items: center;
  display: block;
}